*.gitignore

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#log files
*.log

#lock files
*.lck

# Package Files #
*.jar
*.war
*.ear
*.class
*.settings
/bin/*

#netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeans/*
Eclipse Workspace/*
*~*.docx
*~*.tmp
/Eclipse-Dev/NewFolder/Chap15_Files/nbproject/private/
/Eclipse-Dev/NewFolder/Chap15_Files/build/
/Eclipse-Dev/TipCalculator1/nbproject/private/
/Eclipse-Dev/TipCalculator1_Advanced/nbproject/private/
/Eclipse-Dev/TipCalculator1_Advanced/dist/
/Eclipse-Dev/TipCalculator1_Advanced/build/
/Eclipse-Dev/MortageCalculator/nbproject/private/
/Eclipse-Dev/MortageCalculator/dist/
/Eclipse-Dev/MortageCalculator/build/
/Eclipse-Dev/MPGCalculator/nbproject/private/
/Eclipse-Dev/Painter/nbproject/private/
/Eclipse-Dev/ColorChooser/nbproject/private/
/Eclipse-Dev/CoverViewer/nbproject/private/
/Eclipse-Dev/Painter_and_ColorChooser/nbproject/private/
/Eclipse-Dev/ContactsApp/nbproject/private/