[Desktop Entry]
Encoding=UTF-8
Name=Link to Use of java.math.MathContext - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/7539/use-of-java-math-mathcontext
Icon=text-html
Name[en_US]=Use of java.math.MathContext - Stack Overflow
